#cool-kids-login, #cool-kids-signup {
	width: 100%;
}

#cool-kids-login input#email,
#cool-kids-signup input#email {
	text-transform: normal;
	font-style: normal;
	text-decoration: none;
	line-height: 1.6em ;
	letter-spacing: 0;
	word-spacing: 0;
	background: transparent;
}